body {
	font-family:"Ludida Grande","Lucida Sans Unicode",sans-serif;
	font-size:100%;
	width:80%;
	max-width:1100px;
	min-width:400px;
	margin:0 auto;
	padding:40px 0 0
}

table {
	width:100%;
	font-size:.7em;
	border:1px solid #922121;
	border-collapse:separate
}

th {
	font-weight:400;
	color:#fff;
	text-align:left;
	padding:8px 0 8px 8px;
	border-bottom:1px solid #922121;
	border-left:1px dotted #922121;
	text-shadow:0 -1px 0 rgba(0,0,0,.7)
}

th:first-child {
	border-left:none
}

.header {
	cursor:pointer;
	background:#b12f2f url(bg.gif) center right no-repeat
}

.headerSortUp {
	background-image:url(asc.gif)
}

.headerSortDown {
	background-image:url(desc.gif)
}

td {
	vertical-align:middle;
	text-align:left;
	padding:8px 5px 8px 8px;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee
}

td:hover {
	color:#000
}

td:first-child {
	border-left:none
}

tr:nth-child(even) {
	background-color:#fafafa
}

tr {
	color:#444
}

tr:hover {
	color:#000
}